// put your brand color here 
$brand: #164C78;
$brand-50: #164c78bb;
$titleColor: #252f4a; 
$mainColor : #021250;
$bodyColor: #b5b5c3;

// dark
$dark-100: #252f4a;
$dark-50: #78829d;

$gray-100: #F9F9F9;
$white: #ffffff;